{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "ignorePatterns": [
        "node_modules",
        "**/*.spec.ts"
    ],
    "prefer-const": [
        "error",
        {
            "destructuring": "any",
            "ignoreReadBeforeAssign": false
        }
    ]
}